<button type="button" data-id="resolve" {{on 'click' (action this.resolve this 'foo')}}>Resolve</button>
<button type="button" data-id="reject" {{on 'click' (action this.reject 'reject')}}>Reject</button>